<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.bridgeses.Minder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".Minder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDFLPm9l3E5iRxQ4Urrc9oJIF3HmdW1ovo" />

        <activity
            android:name=".MainListActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editor.EditReminder"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".MainListActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.bridgeses.Minder.MainListActivity" />
        </activity>
        <activity
            android:name=".editor.EditRepeat"
            android:label="@string/title_activity_repeat"
            android:parentActivityName=".editor.EditReminder"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.EDITREPEAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".editor.EditReminder" />
        </activity>

        <receiver
            android:name=".receivers.ReminderReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver android:name=".receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlarmScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm_screen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="us.bridgeses.Minder.alarm" >
        </activity>
        <activity
            android:name=".editor.EditConditions"
            android:label="@string/title_activity_edit_conditions"
            android:parentActivityName=".editor.EditReminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".editor.EditReminder" />
        </activity>
        <activity
            android:name=".editor.EditPersistence"
            android:label="@string/title_activity_edit_persistence"
            android:parentActivityName=".editor.EditReminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".editor.EditReminder" />
        </activity>
        <activity
            android:name=".editor.EditStyle"
            android:label="@string/title_activity_edit_style"
            android:parentActivityName=".editor.EditReminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".editor.EditReminder" />
        </activity>
        <activity android:name=".util.Scanner.BarcodeScanner" />

        <service android:name=".util.AlertService"/>

        <provider
            android:authorities="us.bridgeses.Minder.providers"
            android:name=".persistence.provider.ReminderProvider" />

    </application>

</manifest>
